<a href="https://colab.research.google.com/github/Vikaas1517/ECLAT_in_Market-Optimisation/blob/main/FPGrowth.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from mlxtend.frequent_patterns import fpgrowth

In [3]:
import pandas as pd
import numpy as np
from mlxtend.preprocessing import TransactionEncoder

In [4]:
data = pd.read_csv("/content/drive/MyDrive/Market_Basket_Optimisation.csv")

In [5]:
te = TransactionEncoder()
te_ary = te.fit(data).transform(data)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

                 a      b      c      d  ...      v      w      x      y      z
0     False  False  False  False  False  ...  False  False  False  False  False
1     False   True  False  False   True  ...  False  False  False  False  False
2     False   True  False   True   True  ...   True  False  False  False  False
3      True   True   True  False  False  ...   True  False   True  False  False
4      True   True  False  False  False  ...  False  False  False  False  False
...     ...    ...    ...    ...    ...  ...    ...    ...    ...    ...    ...
7495  False  False  False  False  False  ...  False  False  False  False  False
7496  False  False  False  False  False  ...  False  False  False  False  False
7497  False  False  False  False  False  ...  False  False  False  False  False
7498  False  False  False  False  False  ...  False  False  False  False  False
7499  False  False  False  False  False  ...  False  False  False  False  False

[7500 rows x 26 columns]

In [6]:
from mlxtend.frequent_patterns import fpgrowth
fpgrowth(df,min_support=0.001,use_colnames=True)

     support   itemsets
0   0.001333        (s)
1   0.001200        (i)
2   0.001067        (r)
3   0.001067        (m)
4   0.002000        (a)
5   0.001467        (o)
6   0.001333        (n)
7   0.001067        (l)
8   0.001600        (e)
9   0.001600        ( )
10  0.001200        (t)
11  0.001067     (a, s)
12  0.001067     (a, o)
13  0.001067     (a, e)
14  0.001467     ( , e)
15  0.001200     (a,  )
16  0.001067  (a,  , e)
17  0.001200     (t,  )
18  0.001067     (t, e)
19  0.001067     (a, t)
20  0.001067  (t,  , e)
21  0.001067  (a, t,  )